{% extends "base.html" %}
{% block page %}
<div class="container-fluid">
<div class="alert alert-dismissible alert-success" role="alert" id="success-alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    修改成功。
</div>
<div class="row card mb-3" style="width:100%">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> 个人信息</div>
    <div class="card-body">
        <p>姓名:<span class="profile-item" name="name">{{user.first_name}}</span></p>
        <p>Email:<span class="profile-item" name="email">{{user.email}}</span></p>
        <p>电话:<span class="profile-item" name="phone">{{user.last_name}}</span></p>

        <button type="button" data-toggle="modal" data-target="#edit-profile-modal" class="btn btn-primary btn-sm">修改个人信息</button> &nbsp;&nbsp;
        <button type="button" data-toggle="modal" data-target="#update-password-modal" class="btn btn-primary btn-sm">修改密码</button>
    </div>
</div>
</div>

<div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">修改个人信息</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-profile-form" action="/backend/update_user_profile" method="post">
                    <div class="alert alert-danger error-box" role="alert" style="display: none">
                        <span class="error-msg"></span>
                    </div>
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input class="form-control" id="name" type="text" name="name" placeholder="" value="{{user.first_name}}" />
                     </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input class="form-control" id="email" type="text" name="email" placeholder="" value="{{user.email}}" />
                    </div>
                    <div class="form-group">
                        <label for="name">电话</label>
                        <input class="form-control" id="phone" type="text" name="phone" placeholder="" value="{{user.last_name}}" />
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">确认</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="update-password-modal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">修改密码</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-password-form" action="/backend/update_user_password" method="post">
                    <div class="alert alert-danger error-box" role="alert" style="display: none">
                        <span class="error-msg"></span>
                    </div>
                    <div class="form-group">
                        <label for="name">密码</label>
                        <input class="form-control" id="password" type="password" name="password" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="name">再次输入</label>
                        <input class="form-control" id="confirm-password" type="password" name="confirm-password" placeholder="" />
                    </div>

                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">确认</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/profile.js"></script>
{% endblock %}